//--------------------------------------------------
// html elements
//--------------------------------------------------
* {
  box-sizing: border-box;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
}

h1 {
  @extend .sg-h1;
}

h2 {
  @extend .sg-h2;
}

h3 {
  @extend .sg-h3;
}

h4 {
  @extend .sg-h4;
}

p {
  @extend .sg-p;

  a {
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
}

a {
  color: inherit;
}

li {
  @extend .sg-li;
}

table, th, td {
  border: $border-thin $black;
  @if ($collapse-table-borders) { border-collapse: collapse; }
}

th, td {
  padding: $table-cell-padding;
}

th {
  @extend .sg-h3;
}

td {
  @extend .sg-p;
}

//--------------------------------------------------
// text
//--------------------------------------------------
.sg-h1 {
  @include font-size('h1');
  font-weight: $bold;
  line-height: $line-height-h1;
}

.sg-h2 {
  @include font-size('h2');
  font-weight: $bold;
  line-height: $line-height-h;
}

.sg-h3 {
  @include font-size('h3');
  font-weight: $bold;
  line-height: $line-height-h;
}

.sg-h4 {
  @include font-size('h4');
  font-weight: $light;
  line-height: $line-height-h;
}

.sg-p {
  @include font-size('p');
  font-weight: $light;
  line-height: $line-height-p;
}

.sg-li {
  @include font-size('p');
  font-weight: $light;
  line-height: $line-height-l;
}

//--------------------------------------------------
// site structure - reusable styles
//--------------------------------------------------
%container {
  margin: 0 auto;
  padding-right: rem-calc($gutter-small);
  padding-left: rem-calc($gutter-small);
  width: 100%;

  @include breakpoint($small){
    padding-right: rem-calc($gutter-medium);
    padding-left: rem-calc($gutter-medium);
  }

  @include breakpoint($medium){
    padding-right: rem-calc($gutter-large);
    padding-left: rem-calc($gutter-large);
  }
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width {
  @include breakpoint($large){ width: $site-width; }
}

@mixin gutters($side:'both', $type:'padding') {
  $sides: if($side == 'both', ('left', 'right'),  ($side));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $gutter-large; }
  }
}

.gutter {
  &-left {
    @include gutters('left');
  }

  &-right {
    @include gutters('right');
  }
}

.gutters {
  @include gutters;
}

.container {
  @extend .site-width;
  @extend %container;

  &--small {
    @extend %container;
    max-width: rem-calc(600);

    @include breakpoint($medium){ width: rem-calc(600); }
  }

  &--medium {
    @extend %container;
    @include breakpoint($small){ width: rem-calc(700); }
    @include breakpoint($medium){ width: rem-calc(800); }
  }

  &--large {
    @extend %container;
    @include breakpoint($medium){ width: rem-calc(950); }
    @include breakpoint($large){ width: rem-calc(1000); }
  }
}

@mixin container($max-width: rem-calc(800)) {
  @extend %container;
  max-width: $max-width;
}

//--------------------------------------------------
// page padding
//--------------------------------------------------

.page-padding--top {
  padding-top: $page-padding-top-small;
  @include breakpoint($small) { padding-top: $page-padding-top-medium; }
  @include breakpoint($medium) { padding-top: $page-padding-top-large; }
}

.page-padding--bottom {
  padding-bottom: $page-padding-bottom-small;
  @include breakpoint($small) { padding-bottom: $page-padding-bottom-medium; }
  @include breakpoint($medium) { padding-bottom: $page-padding-bottom-large; }
}

.page-padding {
  @extend .page-padding--top;
  @extend .page-padding--bottom;
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.section-padding--top {
  padding-top: $section-padding-top-small;
  @include breakpoint($small) { padding-top: $section-padding-top-medium; }
  @include breakpoint($medium) { padding-top: $section-padding-top-large; }
}

.section-padding--bottom {
  padding-bottom: $section-padding-bottom-small;
  @include breakpoint($small) { padding-bottom: $section-padding-bottom-medium; }
  @include breakpoint($medium) { padding-bottom: $section-padding-bottom-large; }
}

.section-padding {
  @extend .section-padding--top;
  @extend .section-padding--bottom;
}

//--------------------------------------------------
// item padding
//--------------------------------------------------

.item-padding--sides {
  padding-left: $item-padding-small;
  padding-right: $item-padding-small;

  @include breakpoint($small) { 
    padding-left: $item-padding-medium; 
    padding-right: $item-padding-medium; 
  }

  @include breakpoint($medium) { 
    padding-left: $item-padding-large; 
    padding-right: $item-padding-large; 
  }
}

.item-padding--top-bottom {
  padding-top: $item-padding-small;
  padding-bottom: $item-padding-small;

  @include breakpoint($small) { 
    padding-top: $item-padding-medium; 
    padding-bottom: $item-padding-medium; 
  }
  
  @include breakpoint($medium) { 
    padding-top: $item-padding-medium; 
    padding-bottom: $item-padding-medium; 
  }
}

.item-padding {
  @extend .item-padding--sides;
  @extend .item-padding--top-bottom;
}

//--------------------------------------------------
// helper classes
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-medium-up {
  display: none;
  @include breakpoint($medium) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}

.breakpoint-medium-down {
  display: block;
  @include breakpoint($medium) { display: none; }
}