//--------------------------------------------------
// html elements
//--------------------------------------------------
* {
  box-sizing: border-box;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $body-font;
  margin: 0;
}

h1 {
  @extend .sg-h1;
}

h2 {
  @extend .sg-h2;
}

h3 {
  @extend .sg-h3;
}

h4 {
  @extend .sg-h4;
}

p {
  @extend .sg-p;

  a {
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
}

a {
  color: inherit;
}

li {
  @extend .sg-li;
}

table, th, td {
  border: $border-thin $black;
  @if ($collapse-table-borders) { border-collapse: collapse; }
}

th, td {
  padding: $table-cell-padding;
}

th {
  @extend .sg-h3;
}

td {
  @extend .sg-p;
}

//--------------------------------------------------
// text
//--------------------------------------------------
.sg-h1 {
  @include font-size('h1');
  font-weight: $bold;
  line-height: $line-height-h1;
}

.sg-h2 {
  @include font-size('h2');
  font-weight: $bold;
  line-height: $line-height-h;
}

.sg-h3 {
  @include font-size('h3');
  font-weight: $bold;
  line-height: $line-height-h;
}

.sg-h4 {
  @include font-size('h4');
  font-weight: $light;
  line-height: $line-height-h;
}

.sg-p {
  @include font-size('p');
  font-weight: $light;
  line-height: $line-height-p;
}

.sg-li {
  @include font-size('p');
  font-weight: $light;
  line-height: $line-height-l;
}

//--------------------------------------------------
// site structure - reusable styles/mixins
//--------------------------------------------------
@mixin gutters($side:'both', $type:'padding') {
  $sides: if($side == 'both', ('left', 'right'),  ($side));

  @each $s in $sides {
    #{$type}-#{$s}: $gutter-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $gutter-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $gutter-large; }
  }
}

@mixin section-padding($side:'both', $type:'padding') {
  $sides: if($side == 'both', ('top', 'bottom'),  ($side));

  @each $s in $sides {
    #{$type}-#{$s}: $section-padding-#{$side}-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $section-padding-#{$side}-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $section-padding-#{$side}-large; }
  }
}

@mixin page-padding($side:'both', $type:'padding') {
  $sides: if($side == 'both', ('top', 'bottom'),  ($side));

  @each $s in $sides {
    #{$type}-#{$s}: $page-padding-#{$side}-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $page-padding-#{$side}-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $page-padding-#{$side}-large; }
  }
}

%container {
  @include gutters('both', 'padding');

  margin: 0 auto;
  width: 100%;
}

//--------------------------------------------------
// site structure
//--------------------------------------------------
.site-width {
  @include breakpoint($large){ width: $site-width; }
}

.gutter {
  &-left {
    @include gutters('left');
  }

  &-right {
    @include gutters('right');
  }
}

.gutters {
  @include gutters;
}

.container {
  @extend .site-width;
  @extend %container;

  &--small {
    @extend %container;
    max-width: $container-width-small;

    @include breakpoint($medium){ width: $container-width-small; }
  }

  &--medium {
    @extend %container;
    @include breakpoint($small){ width: $container-width-medium; }
    @include breakpoint($medium){ width: $container-width-large; }
  }
}

//--------------------------------------------------
// page padding
//--------------------------------------------------

.page-padding--top {
  @include page-padding('top')
}

.page-padding--bottom {
  @include page-padding('bottom')
}

.page-padding {
  @include page-padding()
}

//--------------------------------------------------
// section padding
//--------------------------------------------------
.page-padding--top {
  @include section-padding('top')
}

.page-padding--bottom {
  @include section-padding('bottom')
}

.page-padding {
  @include section-padding()
}

//--------------------------------------------------
// item padding
//--------------------------------------------------
@mixin item-padding($sides:'all', $type:'padding') {
  $sides: if($side == 'all', ('top','bottom','left','right'),  ($side));

  @each $s in $sides {
    #{$type}-#{$s}: $item-padding-small;

    @include breakpoint($medium) { #{$type}-#{$s}: $item-padding-medium; }
    @include breakpoint($large) { #{$type}-#{$s}: $item-padding-large; }
  }
}

.item-padding--sides {
  @include item-padding(('left', 'right'))
}

.item-padding--top-bottom {
  @include item-padding(('top', 'bottom'))
}

.item-padding {
  @include item-padding()
}

//--------------------------------------------------
// helper classes
//--------------------------------------------------
.breakpoint-small-up {
  display: none;
  @include breakpoint($small) { display: block; }
}

.breakpoint-medium-up {
  display: none;
  @include breakpoint($medium) { display: block; }
}

.breakpoint-small-down {
  display: block;
  @include breakpoint($small) { display: none; }
}

.breakpoint-medium-down {
  display: block;
  @include breakpoint($medium) { display: none; }
}