<div class="form__field">
  <% label, attribute = label_and_attribute(form_attribute[0], form_attribute[1]) %>

  <div class="form__label">
    <%= form.label label, attribute %>

    <% if form_attribute[1].key?(:required) && form_attribute[1][:required] %>
      <span class="form__required-star">*</span>
    <% end %>
  </div>

  <%= form.send(form_attribute.dig(1, :form_builder_method), attribute) %>
</div>