<div class="admin__hero">
  <div class="admin__title">
    Update <%= "#{@table_resource.class.name}" %>
  </div>
</div>

<div class="admin__form">
  <div class="form">
    <div class="form__intro">
      <div class="form__required">
        <span class="form__required-star--large">*</span>
        <p class="form__required-text">
          Indicates a required field
        </p>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>