<%= render partial: 'admin_hero', locals: { action: 'View' } %>

<div class="admin__container">
  <% @table_resource.form_attributes.each do |key, attribute| %>
    <%byebug%>
    <div class="form__field">
      <div class="form__label">
        <%= form_field_values(key, attribute)[0] %>
      </div>
      <div class="form__value">
        <%= form_field_values(key, attribute)[1] %>
      </div>
    </div>
  <% end %>
</div>