<%= render partial: 'admin_hero', locals: { action: 'View' } %>

<div class="admin__container">
  <% @table_resource.form_attributes.each do |key, attribute| %>
    <div class="form__field">
      <% label, value = form_field_values(key, attribute) %>
      <div class="form__label">
        <%= label %>
      </div>
      <div class="form__value">
        <%= value %>
      </div>
    </div>
  <% end %>
</div>