$white: #ffffff;

$grey-xlight: #f4f4f4;
$grey-light: #d8d8d8;
$grey: #3A3A3A;
$grey-dark: #2A2A2A;
$grey-xdark: #202020;

$black: #000000;

$green-light: #9DC37E;
$green: #71A32B;

$primary: $green;
$secondary: blue;

$chart-blue-light: #96D6E6;
$chart-blue: #53CCF7;
$chart-blue-dark: #2179A7;
$chart-blue-xdark: #133151;
$chart-green-light: #BFD2A5;
$chart-green: #86BF37;
$chart-green-dark: #587828;
$chart-green-xdark: #2E3A1C;
$chart-navy: #2179A7;
$chart-orange: #E9624D;
$chart-pink: #9A014F;
$chart-purple: #423781;
$chart-teal: #227190;
$chart-yellow: #F7BA02;

$chart-land: $chart-green;
$chart-marine: #03B0DA;
$chart-abnj: #207D94;
$chart-eez: #6FD9F2;

$accent: green;

$theme-blue: $chart-blue-xdark $chart-blue-dark $chart-blue $chart-blue-light $grey-light;
$theme-green: $chart-green-xdark $chart-green-dark $chart-green $chart-green-light $grey-light;
$theme-rainbow: $chart-pink $chart-yellow $chart-green $chart-blue $grey-light;

//--------------------------------------------------
// shared chart mixins
//--------------------------------------------------
@mixin chart-tooltip($arrow, $colour) {
  @extend .flex;
  @extend .flex-center;
  background-color: white;
  border: solid rem-calc(2) $colour;
  border-radius: $button-radius;
  font-size: rem-calc(18);
  font-weight: $bold;
  padding: rem-calc(0 4 0 4);
  width: auto; height: rem-calc(30);
  min-width: rem-calc(40);

  &::before {
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    content: '';
    width: 0; height: 0;

    position: absolute;
    
    @if $arrow == 'bottom' {
      border-top: 13px solid $colour; 
      top: 100%;
    }

    @if $arrow == 'top' {
      border-bottom: 13px solid $colour; 
      bottom: 100%;
    }
  }

  &::after {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: '';
    width: 0; height: 0;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);

    @if $arrow == 'bottom' { 
      border-top: 10px solid $white; 
      top: 100%;
    }

    @if $arrow == 'top' { 
      border-bottom: 10px solid $white; 
      bottom: 100%;
    }
  }
}

//--------------------------------------------------
// chart
//--------------------------------------------------
.chart {

//--------------------------------------------------
// chart legend
//--------------------------------------------------
  @mixin chart-key($theme) {
    @for $i from 1 through length($theme) {
      $colour: nth($theme, $i);

      &:nth-child(#{$i}) { .chart__legend-key { background-color: $colour; } }
    }
  }

  &--legend {
    margin: rem-calc(26 0);

    .chart {
      &__legend-item {
        margin-right: rem-calc(18);
        margin-bottom: rem-calc(14);
  
        @include breakpoint($small) { 
          width: auto; 
        }

        &.theme--blue { @include chart-key($theme-blue); }
        &.theme--green { @include chart-key($theme-green); }
        &.theme--rainbow { @include chart-key($theme-rainbow); }
      }

        &__legend-key {
          border-radius: rem-calc(2);
          margin-right: rem-calc(10);
          width: rem-calc(15); height: rem-calc(15);

          display: block;

          transform: translateY(-2px);

          @include breakpoint($small) {
            width: rem-calc(28); height: rem-calc(28);
          }
        }

        &__legend-text {
          font-size: rem-calc(14);
          font-weight: $light;
          margin-right: rem-calc(6);
          display: inline-block;

          @include breakpoint($small) { font-size: rem-calc(18); }
        }
    }
  }

//--------------------------------------------------
// charts
//--------------------------------------------------
  @import './charts/chart-area';
  @import './charts/chart-column';
  @import './charts/chart-doughnut';
  @import './charts/chart-line';
  @import './charts/chart-row';
  @import './charts/chart-stacked-row';
}