<expandable-item>
  <template slot="header">
    <h2>Button styles</h2>
  </template>
  <template slot="content">
    <div class="<%= styleguide_class %>">
      <button class="sg-button--plain sg-button--small">Small button</button>
      <button class="sg-button--plain sg-button--medium">Medium button</button>
      <button class="sg-button-close">Close</button>
      <button class="sg-button-download">Download</button>
    </div>
  </template>
</expandable-item>