//--------------------------------------------------
// variables
//--------------------------------------------------
$social-pane-background-color: $primary;

//--------------------------------------------------
// classes
//--------------------------------------------------
.social {
  &--share {
    position: relative;
    z-index: $z-100;

    .social {
      &__trigger {
        cursor: pointer;

        display: block;

        @include breakpoint($medium) { display: none; }
      }

      &__target {
        @include breakpoint_down($medium) { 
          background-color: $social-pane-background-color;
          border-radius: 2px;
          padding: 14px 12px;
          
          display: none;
          position: absolute;
          top: calc(100% + 16px);
          left: 50%;

          transform: translateX(-50%);
        }

        @include breakpoint($medium) { 
          display: block;
          position: initial;
        }

        &::before {
          @include breakpoint_down($medium) { 
            border-right: 12px solid transparent;
            border-bottom: 12px solid $primary;
            border-left: 12px solid transparent;
            content: '';
            width: 0; height: 0; 

            position: absolute;
            top: -12px;
            left: 50%;

            transform: translateX(-50%);
          }
        }

        &.active { 
          display: block;
        }
      }
      
        &__icon {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-top: 26px;
          width: 50px; height: 50px;

          display: block;

          &:first-child { 
            margin-top: 0;
          }

          &:hover { opacity: .75; }

          @include breakpoint($medium) { 
            margin-top: 0;
            margin-left: 20px;
            display: inline-block; 
          }

          &--email { background-image: image-url('icons/email.svg'); }
          &--facebook { background-image: image-url('icons/facebook.svg'); }
          &--linkedin { background-image: image-url('icons/linked-in.svg'); }
          &--twitter { background-image: image-url('icons/twitter.svg'); }
        }
    }
  }  
}