<div class="<%= styleguide_class %>">
  <carousel 
    title="The world's most complex carousel" 
    :slide-interval-length="2000"
    :slides-per-frame="[1,2,3,4]">
  <% (1..5).each do |n| %>
    <carousel-slide>Slide <%= n %></carousel-slide>
  <% end %>
  </carousel>
</div>
