<div class="<%= styleguide_class %>">
  <chart-dial
    title="Marine"
    colour="marine"
    :dial-value="40"
    :dial-target="60"
  >
  </chart-dial>

  <chart-dial
    title="Terrestrial"
    colour="terrestrial"
    :dial-value="0"
    :dial-target="100"
  >
  </chart-dial>
  <chart-dial
    title="Marine"
    colour="marine"
    :dial-value="10"
    :dial-target="90"
  >
  </chart-dial>

  <chart-dial
    title="Terrestrial"
    colour="terrestrial"
    :dial-value="12"
    :dial-target="17"
  >
  </chart-dial>
</div>