<%
tabs = [
  {
    id: 'tab1',
    label: 'Tab 1'
  },
  {
    id: 'tab2',
    label: 'Tab 2'
  }
]
%>

<div class="<%= styleguide_class %>">
  <fake-tabs :tabs="<%= tabs.to_json%>">
    <fake-tab-example/>
  </fake-tabs>
</div>
  