<h1>Modal</h1>

<div class="<%= styleguide_class %>">
  <modal id="test-modal">
    <p>This is the content of the modal</p>  
  </modal>

  <modal-trigger id="test-modal">Open Modal</modal-trigger>
</div>