<div class="<%= styleguide_class %>">
  <div class="tall">
    <sticky-bar class="sm-trigger-sticky">
      <div class="sm-target-sticky sticky-bar--unstuck">Scroll to see sticky bar behaviour</div>
    </sticky-bar>
  </div>
</div>