<%
children = [
  {
    id: 'tab1',
    title: 'Tab 1'
  },
  {
    id: 'tab2',
    title: 'Tab 2'
  }
]
%>

<div class="<%= styleguide_class %>">
  <tabs-fake :children="<%= children.to_json%>"></tabs-fake>
</div>
  