<h1>Tooltip</h1>
<div class="<%= styleguide_class %>">
  <tooltip class="example-tooltip" text="Don't forget to use vue2-touch-events for this tooltip!">
    <div class="example-tooltip__icon"></div>
  </tooltip>
</div>