<div class="<%= styleguide_class %>">
  <div>
    <h4>On hover</h4>
    <tooltip class="example-tooltip" text="Don't forget to use vue2-touch-events for this tooltip!">
      <div class="example-tooltip__icon"></div>
    </tooltip>
  </div>
  
  <div>
    <h4>On click</h4>
    <tooltip class="example-tooltip" text="Don't forget to use vue2-touch-events for this tooltip!" show-on="click">
      <div class="example-tooltip__icon"></div>
    </tooltip>
  </div>
</div>
