<%
pages = [
  {
    id: '1',
    label: 'First Parent',
    url: '',
    children: [
      {
        id: '1-1',
        label: 'First Child',
        url: ''
      },
      {
        id: '1-2',
        label: 'Second Child',
        url: ''
      }
    ]
  },
  {
    id: '2',
    label: 'Second Parent',
    url: '',
    children: [
      {
        id: '2-1',
        label: 'First Child',
        url: ''
      },
      {
        id: '2-2',
        label: 'Second Child',
        url: ''
      }
    ]
  },
  {
    id: '3',
    label: 'Childless Parent',
    url: ''
  }
].to_json
%>

<h1>VNav</h1>

<div class="<%= styleguide_class %>">
  <v-nav :pages="<%= pages %>"></v-nav>
</div> 