<%
pages = [
  {
    id: '1',
    label: 'First Parent',
    url: '',
    children: [
      {
        id: '1-1',
        label: 'First Child',
        url: ''
      },
      {
        id: '1-2',
        label: 'Second Child',
        url: ''
      }
    ]
  },
  {
    id: '2',
    label: 'Second Parent',
    url: '',
    children: [
      {
        id: '2-1',
        label: 'First Child',
        url: ''
      },
      {
        id: '2-2',
        label: 'Second Child',
        url: ''
      }
    ]
  },
  {
    id: '3',
    label: 'Childless Parent',
    url: ''
  }
].to_json
%>

<h2>VNav</h2>

<v-nav :pages="<%= pages %>"></v-nav>
  