<h2>Accordion</h2>

<accordion>
  <accordion-item id="1" title="Item 1">
    <h3>Item 1 title</h3>
    <p>Copy for item 1</p>
  </accordion-item>

  <accordion-item id="2" title="Item 2">
    <h3>Item 2 title</h3>
    <p>Copy for item 2</p>
  </accordion-item>
</accordion>