<expandable-item>
  <template slot="header">
    <h2>Carousel</h2>
  </template>
  <template slot="content">
    <carousel title="Carousel title" slide-interval-length="2000">
      <carousel-slide>Slide 1</carousel-slide>
      <carousel-slide>Slide 2</carousel-slide>
      <carousel-slide>Slide 3</carousel-slide>
      <carousel-slide>Slide 4</carousel-slide>
      <carousel-slide>Slide 5</carousel-slide>
    </carousel>
  </template>
</expandable-item>