<%
lines = [
  {
    title: 'A',
    datapoints: [
      { x: 2000, y: 23 },
      { x: 2001, y: 34 },
      { x: 2002, y: 24 },
      { x: 2003, y: 23 },
      { x: 2004, y: 25 },
      { x: 2005, y: 26 },
      { x: 2006, y: 28 },
      { x: 2007, y: 35 },
      { x: 2008, y: 56 },
      { x: 2009, y: 53 },
      { x: 2010, y: 54 }
    ],
    colour: {
      line: '#207D94',
      text: '#ffffff'
    }
  },
  {
    title: 'B',
    datapoints: [
      { x: 2000, y: 67 },
      { x: 2001, y: 4 },
      { x: 2002, y: 44 },
      { x: 2003, y: 43 },
      { x: 2004, y: 25 },
      { x: 2005, y: 46 },
      { x: 2006, y: 48 },
      { x: 2007, y: 85 },
      { x: 2008, y: 26 },
      { x: 2009, y: 13 },
      { x: 2010, y: 24 }
    ],
    colour: {
      line: '#6FD9F2',
      text: '#000000'
    }
  },
  {
    title: 'C',
    datapoints: [
      { x: 2000, y: 53 },
      { x: 2001, y: 34 },
      { x: 2002, y: 64 },
      { x: 2003, y: 23 },
      { x: 2004, y: 35 },
      { x: 2005, y: 86 },
      { x: 2006, y: 28 },
      { x: 2007, y: 95 },
      { x: 2008, y: 52 },
      { x: 2009, y: 13 },
      { x: 2010, y: 24 }
    ],
    colour: {
      line: '#86BF37',
      text: '#000000'
    }    
  },
  {
    title: 'D',
    datapoints: [
      { x: 2000, y: 10 },
      { x: 2001, y: 10 },
      { x: 2002, y: 10 },
      { x: 2003, y: 10 },
      { x: 2004, y: 10 },
      { x: 2005, y: 10 },
      { x: 2006, y: 10 },
      { x: 2007, y: 10 },
      { x: 2008, y: 10 },
      { x: 2009, y: 10 },
      { x: 2010, y: 14 }
    ]
  },
]

line_chart = {
  lines: lines,
  axisLabels: {
    y: ["Area", "(Million km²)"]
  },
  targets: [
    {
      y: 36,
      label: "Marine target (10%)"
    }
  ],
  commitments: [
    {
      x: 2008,
      lineStyle: {
        colour: '#bbbbbb',
        dashArray: '6 8',
        strokeWidth: '2'
      },
      label: ["Future", "Commitments"]
    },
    {
      x: 2003,
      label: ["Default", "Styling"]
    }
  ]
}
%>
<expandable-item>
  <template slot="header">
<h2>ChartLine</h2>
  </template>
  <template slot="content">
    <chart-line 
      :lines="<%= line_chart[:lines].to_json %>" 
      :y-targets="<%= line_chart[:targets].to_json %>"
      :x-targets="<%= line_chart[:commitments].to_json %>"
      :axis-labels="<%= line_chart[:axisLabels].to_json %>"
      :font-size="14">
    </chart-line>
  </template>
</expandable-item>

