<%
global_area_chart = {
  id: "global-area-chart",
  legend: [
    {
      title: "Proportion of cover by protected areas"
    }
  ],
  datasets: [
    {
      title: "Ocean",
      class: "marine",
      value: 7100,
      percent: 71,
      inner_square: {
        title: "1.",
        value: 500,
        percent: 5
      }
    },
    {
      title: "Land",
      class: "land",
      value: 2900,
      percent: 29,
      inner_square: {
        title: "1.",
        value: 1200,
        percent: 12
      }
    }
  ]
}
%>
<expandable-item>
  <template slot="header">
<h2>ChartArea</h2>
  </template>
  <template slot="content">
    <chart-area id="<%= global_area_chart[:id] %>" :datasets="<%= global_area_chart[:datasets].to_json %>" units="km^2" :legend="<%= global_area_chart[:legend].to_json %>"></chart-area>
</template>
</expandable-item>

