<expandable-item>
  <template slot="header">
    <h2>Modal</h2>
  </template>
  <template slot="content">
    <modal>
      <p>This is the content of the modal</p>  
    </modal>

    <modal-trigger>Open Modal</modal-trigger>
  </template>
</expandable-item>