<%
pages = [
  {
    id: '1',
    label: 'Parent1',
    url: '',
    children: [
      {
        id: '1-1',
        label: 'Child 1',
        url: ''
      },
      {
        id: '1-2',
        label: 'Child 2',
        url: ''
      }
    ]
  },
  {
    id: '2',
    label: 'Parent2',
    url: '',
    children: [
      {
        id: '2-1',
        label: 'Child 1',
        url: ''
      },
      {
        id: '2-2',
        label: 'Child 2',
        url: ''
      }
    ]
  },
  {
    id: '3',
    label: 'Childless Parent',
    url: ''
  }
].to_json
%>

<expandable-item>
  <template slot="header">
    <h2>VNav</h2>
  </template>
  <template slot="content">
    <v-nav :pages="<%= pages %>"></v-nav>
  </template>
</expandable-item>