<expandable-item class="large-height-expandable">
  <template slot="header">
    <h2>Sticky</h2>
  </template>
  <template slot="content">
    <sticky-bar class="sm-trigger-sticky">
      <div class="sm-target-sticky sticky-bar--unstuck">A STICKY BAR</div>
    </sticky-bar>
  </template>
</expandable-item>


