<%
data = {
  name: "protected areas",
  children: [
    {
      name: "National priority actions",
      size: 478520,
      breakdown: [
        {
          name: "National Waters",
          size: 478520
        }
      ]
    },
    {
      name: "Approved GEF-5 and GEF-6 projects",
      size: 762246,
      breakdown: [
        {
          name: "National Waters",
          size: 762246
        }
      ]
    },
    {
      name: "Voluntary commitments from UN Ocean Conference",
      size: 17635796,
      breakdown: [
        {
          name: "National Waters",
          size: 14035796
        },
        {
          name: "ABNJ",
          size: 3600000
        }
      ]
    },
    {
      name: "Other Large MPA proposals",
      size: 3822552,
      breakdown: [
        {
          name: "National Waters",
          size: 2272552
        },
        {
          name: "ABNJ",
          size: 1550000
        }
      ]
    },
    {
      name: "Micronesia and Caribbean Challenge",
      size: 502083,
      breakdown: [
        {
          name: "National Waters",
          size: 502083
        }
      ]
    },
    {
      name: "Protected area targets in post-COP10 NBSAPs",
      size: 3587340,
      breakdown: [
        {
          name: "National Waters",
          size: 3587340
        }
      ]
    }
  ]
}.to_json
%>
<expandable-item>
  <template slot="header">
    <h2>Sunburst</h2>
  </template>
  <template slot="content">
    <sunburst :data="<%= data %>" ></sunburst>
  </template>
</expandable-item>


