<expandable-item>
  <template slot="header">
    <h2>Tabs</h2>
  </template>
  <template slot="content">
    <tabs init-active-id="tab_2">
      <tab title="Tab 1" id="tab_1">Tab 1</tab>
      <tab title="Tab 2" id="tab_2">Tab 2</tab>
    </tabs>
  </template>
</expandable-item>