<%
config_singular = {
  isMultiple: false,
  label: 'Singular select',
  id: '1'
}.to_json
config_multi = {
  isMultiple: true,
  label: 'Multiselect',
  id: '2'
}.to_json
options = [
  { id: 1, name: 'Option 1' },
  { id: 2, name: 'Option 2' },
  { id: 3, name: 'Option 3' }
].to_json
%>

<expandable-item>
  <template slot="header">
    <h2>VSelects</h2>
  </template>
  <template slot="content">
    <h3>VSelect - Single</h2>
    <v-select :config="<%= config_singular %>" :options="<%= options %>"></v-select>

    <h3>VSelect - Multi</h2>
    <v-select :config="<%= config_multi %>" :options="<%= options %>"></v-select>
  </template>
</expandable-item>

