<expandable-item>
  <template slot="header">
    <h2>Button styles</h2>
  </template>
  <template slot="content">
    <button class="button--plain button--small">Small button</button>
    <button class="button--plain button--medium">Medium button</button>
  </template>
</expandable-item>