<expandable-item>
  <template slot="header">
    <h2>Button styles</h2>
  </template>
  <template slot="content">
    <button class="sg-button--plain sg-button--small">Small button</button>
    <button class="sg-button--plain sg-button--medium">Medium button</button>
  </template>
</expandable-item>