<expandable-item>
  <template slot="header">
    <h2>Tables</h2>
  </template>
  <template slot="content">
    <table>
      <tr>
        <th>This is a long table header</th>
        <th>Header 2</th> 
        <th>Header 3</th>
      </tr>
      <tr>
        <td>A table entry</td>
        <td>A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry.</td> 
        <td></td>
      </tr>
      <tr>
        <td>A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry. A much longer table entry.</td> 
        <td>A table entry</td>
        <td>A table entry</td>
      </tr>
    </table>
  </template>
</expandable-item>