<expandable-item>
  <template slot="header">
    <h2>Text styles</h2>
  </template>
  <template slot="content">
    <h1>This is an h1 heading</h1>
    <h2>This is an h2 heading</h2>
    <h3>This is an h3 heading</h3>
    <p>This is a paragraph</p>
    <th>This is a table header<th>
    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>
    <a href="">I am a link to nowhere...</a>
    <p>Here is a <a href="">link</a> embedded in a p element</p>
  </template>
</expandable-item>