$wcmc-blue: #00AEEF;

input {
  border: none;
  padding: 1.5em;
  width: 100%;
}

body {
  margin: none;
}

.edit__form {
  background-color: rgb(236,240,245);
  margin: none;

  display: flex;
  justify-content: center;
}

.edit__title {
  background-color: rgb(25, 25, 95);
  color: aliceblue;
  font-size: xx-large;
  font-weight: bolder;
  padding: 5em 0 5em 4em;
}

.form {
  width: 70%;
}

.form__field {
  margin-bottom: 3em;
}

.form__label {
  font-weight: bolder;
  font-size: larger;
  margin-bottom: 1em;
}

.form__heading {
  font-size: smaller;
  font-weight: lighter;
  margin-top: 2em;
  margin-bottom: 3em;
  
  display: flex;
}

.form__heading--star {
  color: red;
  padding-top: 0.5em;
}

.form__buttons {
  background-color: aquamarine;

  display: flex;
}

.form__cancel {
  background-color: brown;
  padding: 1.5em;
  width: 200px;
}

.form__save {
  background-color: $wcmc-blue;
  width: 200px;
}