.colors {
  &__box {
    width: 50%; padding-top: 50%;

    position: relative;
    flex-shrink: 0;

    @include breakpoint(720) {
      padding: 0;
      width: rem-calc(150); height: rem-calc(150);
    }

    p {
      background-color: rgba(black, 0.5);
      color: white;
      margin: 0;
      padding: rem-calc(5);

      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}