$comp-grid-width: 75vw;
$item-margin: rem-calc(8);
$comp-grid-padding: rem-calc(14);

@mixin element-dimensions($col-count) {
  $width: calc((#{$comp-grid-width} - 2 * #{$comp-grid-padding}) / #{$col-count} - 2 * #{$item-margin});
  width: $width; height: $width;
}
.component-grid {
  padding: $comp-grid-padding;
  display: flex;
  flex-wrap: wrap;
  
  &__element {
    @include item-padding;
    
    border: $border-regular $grey;
    margin: $item-margin;
    @include element-dimensions(1);

    @include breakpoint($small) {
      @include element-dimensions(2);
    }

    @include breakpoint($medium) {
      @include element-dimensions(3);
    }
  }
}