.drop-arrow {
  transform: rotate(0deg);

  &--end {
    @extend .flex-hs-end;
    @extend .flex-no-shrink;
  }
}

.arrow-svg {
  content: '';
  background-image: image-url('Drop-Arrow.svg');
  background-repeat: no-repeat;
  width: 17px; height: 8px;

  display: inline-block;
}