.expandable-item {
  margin-bottom: rem-calc(20);

  &__header {
    background: transparent;
    width: 100%;
  }

  &__container {
    border: solid rem-calc(1) lightgrey;
    border-top: none;
  }

  &--active {
    .drop-arrow {
      transform: rotate(180deg);
    }
  }
}