.filters {
  background-color: $grey-light;

  &__list {
    @include item-padding(('top', 'bottom'), 'margin');
  }

    &__list-item {
      @include gutters;

      background-color: transparent;
      border: none;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      text-align: left;
      width: 100%;

      &--selected {
        background-color: $grey;
      }

      &:hover {
        background-color: $grey;
      }
    }
}