.page-container {
  padding: rem-calc(10);
}
.large-height-expandable {
  .expandable-item__container {
    background-image: linear-gradient(lightblue, white);
    padding: 0;
    height: 100rem;

    position: relative;
  }
}