@keyframes open {
  from { max-height: 0; }
  to { max-height: rem-calc(500); }
}

@keyframes close {
  from { max-height: rem-calc(500); }
  to { max-height: 0; }
}

.accordion-toggle-enter-active {
  animation: open .5s forwards ease-in;
}

.accordion-toggle-leave-active {
  animation: close .5s forwards ease-out;
}

.accordion-item {
  border: $border-regular $grey;
  margin-bottom: rem-calc(10);

  &__toggle {
    @extend .sg-h3;
    width: 100%;
  }

  &__content-wrapper {
    border-top: $border-regular $grey;
    overflow: hidden;
    height: auto;
  }

    &__content {
      @include item-spacing;
    }
}