$pane-color: $grey;
$pane-trigger-width: rem-calc(40);

.mapboxgl {
  &-map {
    height: 100%;
    width: 100%;
  }

  &-canvas {
    border: rem-calc(2) solid $grey;
    &:focus {
      border-color: rgba($wcmc-blue, 0.5);
    }
  }
}

.map {
  &__container {
    overflow: hidden;
    height: rem-calc(380);

    position: relative;

    @include breakpoint($small) {
      height: rem-calc(700);
    }
  }

    &__wrapper {
      height: 100%;
    }
}
//--------------------------------------------------
// Mapbox controls
//--------------------------------------------------
.mapbox-gl-layer-ctrl-btn {
  background-image: linear-gradient(transparent, transparent),
    url(https://api.mapbox.com/mapbox.js/v3.1.1/images/icons.svg);
  background-position: center -103px;
  background-repeat: no-repeat;
  background-size: 26px 260px;

  display: inline-block;
  float: left;
}

.mapbox-gl-layer-ctrl-layers {
  display: none;
}

.mapbox-gl-layer-ctrl-layers.active {
  display: inline-block;
}

.mapbox-gl-layer-ctrl-layers label {
  display: inline-block;
}

.mapbox-gl-layer-ctrl-layers input {
  vertical-align: middle;
}

.mapboxgl-ctrl.mapboxgl-ctrl-geocoder {
  width: 100%;

  @include breakpoint($small) {
    width: rem-calc(400);
  }
}

.mapboxgl-ctrl.mapboxgl-ctrl-geocoder input[type="text"] {
  color: $black;
  font-size: 16px;
  padding: 15px 15px 15px 40px;
  height: auto;
}

.mapboxgl-ctrl.mapboxgl-ctrl-geocoder .geocoder-icon-search,
.mapboxgl-ctrl.mapboxgl-ctrl-geocoder .geocoder-icon-close {
  top: 15px;
}

.map-pane {
  &--target {
    padding-left: $pane-trigger-width;
    width: 100%;

    position: absolute;
    right: 0;
    bottom: 0;
    top: rem-calc(68);
    z-index: $z-100;

    $trigger-shift: -$pane-trigger-width;
    transform: translateX(100%) translateX($trigger-shift);

    transition: transform 0.4s ease-in-out;

    @include breakpoint($medium) {
      width: rem-calc(360);
      top:0;
    }

    &--active {
      transform: translateX(0);
    }

    &__content {
      @include item-padding;

      background-color: $pane-color;
      overflow-y: scroll;
      height: 100%;
    }

    &__close {
      @extend .sg-h2;

      background-color: $pane-color;
      border: none;
      width: $pane-trigger-width;

      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.map-filters {
  &__default-radio-button {
    margin-right: rem-calc(8);
  }

  &__filter {
    margin-bottom: rem-calc(30);

    &-title {
      margin: 0 0 rem-calc(10);
    }

    &-legend {
      &__image,
      &__gradient {
        border-radius: 15px;
        height: 15px;
        overflow: hidden;
        text-align: center;
        width: 100%;

        img {
          transform: rotateZ(90deg);
          width: 100%;
        }
      }
    }
  }
}