@keyframes showNav {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

// @keyframes unstickNav {
//   from {
//     transform: translateY(100%);
//   }
//   to {
//     transform: translateY(0);
//   }
// }

.sm-target-sticky {
  @extend .sg-h2;

  background-color: $grey-light;
  padding: rem-calc(10);
}

.sticky-bar {
  width: 100%;

  display: block;
  position: absolute;
  top: rem-calc(100);
  left: 0;

  // &--unstuck {
  //   animation: unstickNav .25s forwards linear;
  // }

  &--stuck {    
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    animation: showNav .3s forwards linear;
  }
}