$black: #000000;
$white: #ffffff;
$dropdown-width: rem-calc(240);

.nav {
  @include gutters;
  @include v-nav-height;

  border: $border-regular $grey;

  position: absolute;
  left: 0;
  right: 0;

  &__logo {
    @extend .sg-h3;
  }

  &__select {
    @extend .sg-h3;

    &--dropdown {
      margin-right: rem-calc(5);
    }
  }

  &__dropdown-toggle {
    padding: 0;
  }

  &__burger {
    @extend .sg-h3;

    background-color: transparent;
    border: $border-regular $grey;
  }

  &__close {
    @extend .sg-h3;

    background-color: transparent;
    border: $border-regular $black;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .drop-arrow {
    transform: rotate(0deg) scale(0.8);
  }
  
  &__dropdown--active {
    .drop-arrow { transform: rotate(180deg) scale(0.8); }
    .nav__dropdown-wrapper { display: block; }
  }

  &__dropdown-wrapper { display: none; }


//--------------------------------------------------
// bar
//--------------------------------------------------
  &--bar {
    .nav {
      &__item {
        @include v-nav-height('line');
    
        padding: 0;
        margin-right: rem-calc(15);
    
        &:last-child {
          margin-right: 0;
        }
      }

      &__dropdown-wrapper {
        border: $border-regular $grey;
        border-top: none;
        box-shadow: $shadow-light;
        width: $dropdown-width;
        
        position: absolute;
        top: 100%;
        left: 50%;
    
        transform: translateX(-50%);
      }
    
        &__dropdown-menu {
          @extend .flex;
          @extend .flex-column;
        }
    
          &__dropdown-item {
            margin-bottom: rem-calc(10);
    
            &:last-child {
              margin-bottom: 0;
            }
          }
    }
  }
//--------------------------------------------------
// burger nav
//--------------------------------------------------
  &--pane {
    background-color: $grey;
    width: 100%;
        
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: $z-300;

    transform: translateX(100%);

    transition: transform 0.4s ease-in-out;
    
    @include breakpoint($small) {
      width: rem-calc(350);
    }

    &.nav-pane--active {
      transform: translateX(0);
    }

    &.nav__item-container {
      @include gutters;
      padding-top: rem-calc(80);
    }

    .nav {
      &__items {
        flex-direction: column;
      }

        &__item, &__dropdown-item {
          margin-bottom: rem-calc(10);

          &:last-child {
            margin-bottom: 0;
          }
        }

        &__dropdown-item {
          display: block;
        }
    }
  }
}