$border: solid rem-calc(1) $grey;
$checkbox-width: rem-calc(15);
$padding: rem-calc(5 10);

.v-select {
  width: rem-calc(250);

  &__label {
    @extend .sg-h3;
  }
  
  &--disabled {
    opacity: 0.5;
  }

  &__toggle, &__search {
    @extend .sg-h4;
    @extend .flex;
    @extend .flex-v-center;
    @extend .flex-h-between;

    background-color: transparent;
    border: $border-regular $grey;
    padding: $padding;
    width: 100%;
  
    &--active {
      .drop-arrow {
        transform: rotate(180deg)
      }
    }
  }

    &__dropdown-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__search-input {
      border: none;
      margin: 0;
      font: inherit;
      line-height: 1;
      padding: 0;
      width: 100%;
    }

      &__search-icon {
        border: none;
        background: image-url('icons/search.svg') no-repeat center;
        background-size: 85%;
        font: inherit;
        margin: 0 rem-calc(8);
        padding: 0;
        width: 1em; height: 1em;

        display: inline-block;

        &--reset {
          background-image: image-url('icons/close.svg');
          background-size: 75%;
        }
      }

  &__dropdown {
    @extend .sg-h4;

    border: $border-regular $grey;
    border-top: none;
    padding: $padding;
  }

    &__option-label {
      @extend .flex;
      @extend .flex-v-center;

      position: relative;
    }

    &__default-checkbox, &__default-radio {
      @extend %hidden-input;
      top: $checkbox-width;
      left: $checkbox-width / 2;
    }

    &__checkbox, &__radio {
      border: $border;
      cursor: pointer;
      margin-right: rem-calc(8);
      width: $checkbox-width; height: $checkbox-width;

      display: inline-block;
    }

    &__radio {
      border-radius: 50%;
    }
}

@include custom_input_checked('.v-select__default-checkbox', '.v-select__checkbox') {
  &::after {
    background: $wcmc-blue image-url('icons/tick.svg') center no-repeat;
    content: '';
    background-size: 70%;
    width: $checkbox-width - rem-calc(2);
    height: $checkbox-width - rem-calc(2);

    display: block;
  }
}
@include custom_input_checked('.v-select__default-radio', '.v-select__radio') {
  position: relative;
  &::after {
    @extend .item-center;
    background: $wcmc-blue;
    border-radius: 50%;
    content: '';
    width: 60%;
    padding-top: 60%;

    display: block;
  }
}

@include custom_input_focus_default('.v-select__default-checkbox', '.v-select__checkbox');
@include custom_input_focus_default('.v-select__default-radio', '.v-select__radio');