<nav class="site-nav flex flex-v-center">
  <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UNEP_WCMC_logo.svg', alt: t('branding.unep_wcmc_full') + t('common.logo'), class: "site-nav__logo site-nav__logo--unepwcmc" %>
  <ul class="site-nav__items flex flex-v-center">
    <li class="site-nav__item">
      <%= link_to t('common.comp_lib'), root_path, class: nav_link_class("/") %>
    </li>
    <li class="site-nav__item">
      <%= link_to t('common.style_guide'), styleguide_path, class: nav_link_class("/styleguide") %>
    </li>
  </ul>
</nav>